<html>
  <body>
    <h1>Hello, World</h1>
    <form action="/send" method="post">
      <input type="hidden" name="_subject" value="お問い合わせ">
      <input type="hidden" name="_replyto" value="test@example.com">

      <input type="email" name="email" id="email">
      <textarea name="message" id="messaage"></textarea>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
